html, body {
      position: relative;
      height: 100%;
    }
    *{
      margin: 0;
      padding: 0;
    }
    .swiper-container {
      width: 100%;
      height: 100%;
    }
    .swiper-slide {
        background-image: url(../img/bj.png);
        text-align: center;
        font-size: 18px;
    }
/*向下翻页*/
.swiper-button-next{
    position: absolute;
    top: auto;
    bottom: 5%;
    left: 50%;
    transform: rotate(-90deg);
    margin-left: -13.5px;
    width: 17px;
    height: 34px;
    background-size: 17px 34px;
    animation: buttonnxt 2s linear infinite;
    
}

@keyframes buttonnxt{
    0%{
        button:3%;
    }
    100%{
        button:7%;
    }
}
/*右上音乐*/
.mp3btn{
    position: absolute;
    top: 20px;
    right: 30px;
    z-index: 999;
    width: 40px;
    height: 40px;
    line-height: 30px;
    border-radius: 50%;
    background: #000000c2;
    border-color: #000000b5;
    text-align: center;
    animation: mp3btn 2.5S linear infinite;
}
.mp3btn img{
    margin-top: 5px;
}

/*动画*/
@keyframes mp3btn{
    0%{
     transform: rotateZ(0deg);

    }
    100%{
        transform: rotateZ(360deg);
    }
}
/*fooder内容*/
.footer .img9{
    position: absolute;
    bottom: 0;
    left:0;
    margin-bottom: 5px;
    width: 150%;
}
.footer{
    color: #00faac;
}
.footer h2{
    position: absolute;
    bottom: 120px;
    left: 130px;
}
.footer p{
    position: absolute;
    bottom: 90px;
    left: 90px;
}
.footer .img10{
    position: absolute;
    left: -80px;
    bottom: 0;
    margin-bottom: 10px;
    width: 120%;
    height: 70px;
}
/*第一屏主体内容*/
/*herder内容*/
.s1 .herder .img2{
    width: 70%;
    position: absolute;
    top: 175px;
    left: 65px;
}
.s1 .herder .img3{
    position: absolute;
    width: 35px;
    top: 120px;
    left: 50px;
    transform-origin: center;
}
.s1 .herder .img4{
    position: absolute;
    width: 65px;
    top: 90px;
    right: 40px;
    transform-origin: center;
}
.s1 .herder .img5{
    position: absolute;
    width: 55px;
    left: 35px;
    bottom: 180px;
    transform-origin: center;
}
.s1 .herder .img6{
    position: absolute;
    width: 50px;
    right: 50px;
    bottom: 190px;
    transform-origin:center;
}
/*text内容*/
.text{
    position: absolute;
    top: 220px;
   
}
.s1 .text .img7{
    width: 45%;
}
.s1 .text .img8{
    width: 80%;
}
.s1 .text p{
    background: url(../img/9.png) repeat-y center;
    width: 60%;
    margin-left: 80px;
    border-radius: 15px;
    font-size: 22px;
    font-family: 宋体;
    font-weight: 700;
}
/*第二屏内容*/
.s2 .herder h2{
    padding-top: 40px;
    color: #00faac;
}
.s2 .herder .img14{
    position: absolute;
    top:70px;
    left: 20px;
    width: 25%;
}
.s2 .herder .img13{
    position: absolute;
    top:70px;
    right: 20px;
    width: 25%;
}
.s2 .herder p{
    color: #00faac9e;
}
.s2 .text{
    background: url(../img/12.png);
    background-size:100% 100%;
    width:80%;
    margin-left: 45px;
    margin-top: -80px;
}
.s2 .text p{
    margin-left: 10px;
    margin-right: 10px;
    text-align: left;
    color: #00faac;
    font-family: 微软雅黑;
    font-size: 14px;
    line-height:38px;
}
.s2 .text .txt{
    text-align: center;
    background: url(../img/9.png) repeat-y center;
    width: 40%;
    color: #000;
    margin-left: 100px;
    margin-top: -10px;
    border-radius: 15px;
    font-size: 22px;
    font-family: 宋体;
    font-weight: 700;
    position: absolute;
    top: 410px;
    left:-10px;
}
/*第三屏内容*/

.s3 .herder h2{
    padding-top: 40px;
    color: #00faac;
}
.s3 .herder .img14{
    position: absolute;
    top:70px;
    left: 20px;
    width: 25%;
}
.s3 .herder .img13{
    position: absolute;
    top:70px;
    right: 20px;
    width: 25%;
}
.s3 .herder p{
    color: #00faac9e;
}
.s3 .text{
    color: aqua
}
.s3 .text .zongzi1{
    position: absolute;
    top: 20px;
    left: 190px;
}
.s3 .text .zongzi2{
    position: absolute;
    top: -50px;
    left: 290px;
}
.s3 .text .zongzi3{
    position: absolute;
    top: 80px;
    left: 320px;
}
.s3 .text .zongzi4{
    position: absolute;
    top: 200px;
    left: 290px;
}
.s3 .text .zongzi5{
    position: absolute;
    top: 200px;
    left: 100px;
}
.s3 .text .zongzi6{
    position: absolute;
    top: 80px;
    left: 70px;
}
.s3 .text .zongzi7{
    position: absolute;
    top: -50px;
    left: 100px;
}

